.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.menu-item {
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 200px;
}
.buttons {
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}
.buttons button {
  width: 100%;
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #e64a19;
}
